{% extends "main.html.twig" %}
{% block css %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/pepper-grinder/jquery-ui.css" />
{% endblock %}
{% block js %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
    $(function() {
        $(document).tooltip();
    });
    </script>
{% endblock %}
{% block body %}
    <form method="post" action="sheet/form">
        <table>
            <tr>
                <th>Imię postaci</th>
                <td><input type="text" name="Name" value="{{ sheet.getName() }}" /></td>
            </tr>
            <tr>
                <th>Gracz</th>
                <td>
                    <select name="user">
					{% for user in users %}
                            <option value="{{ user.getId() }}" {% if sheet.getUser().getId() == user.getId() %} selected="selected" {% endif %}>{{ user.getName() }}</option> 
					{% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Rasa</th>
                    <td>
                        <select name="race">
					{% for race in races %}
                                <option value="{{ race.getId() }}" {% if sheet.getRace().getId() == race.getId() %} selected="selected" {% endif %}>{{ race.getName() }}</option> 
					{% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Wygląd</th>
                        <td><input type="text" name="appearance" value="{{ sheet.getAppearance() }}"/></td>
                    </tr>
                    <tr>
                        <th>Archetyp</th>
                        <td><input type="text" name="archetype" value="{{ sheet.getArchetype() }}"/></td>
                    </tr>
                    <tr>
                        <th>Opis</th>
                        <td><input type="text" name="description" value="{{ sheet.getDescription() }}"/></td>
                    </tr>
                    <tr>
                        <th>Doświadczenie</th>
                        <td><input type="text" name="exp" value="{{ sheet.getExp() }}"/></td>
                    </tr>
                    <tr>
                        <th>Atrybuty <br>i umiejętności</th>
                        <td>
                                {% for attribute in attributes %}
                                <b><span title="{{attribute.getDescription()}}">{{ attribute.getName() }}
                                        <input type="radio" name="attributes[{{ attribute.getId() }}]" value="4" checked="checked" {% if sheet.getAttribute(attribute.getId()).getValue() == 4 %} checked="checked" {% endif %}> k4
                                        <input type="radio" name="attributes[{{ attribute.getId() }}]" value="6" {% if sheet.getAttribute(attribute.getId()).getValue() == 6 %} checked="checked" {% endif %} >k6
                                        <input type="radio" name="attributes[{{ attribute.getId() }}]" value="8" {% if sheet.getAttribute(attribute.getId()).getValue() == 8 %} checked="checked" {% endif %}>k8
                                        <input type="radio" name="attributes[{{ attribute.getId() }}]" value="10" {% if sheet.getAttribute(attribute.getId()).getValue() == 10 %} checked="checked" {% endif %}>k10
                                        <input type="radio" name="attributes[{{ attribute.getId() }}]" value="12" {% if sheet.getAttribute(attribute.getId()).getValue() == 12 %} checked="checked" {% endif %}>k12
                                        <input type="radio" name="attributes[{{ attribute.getId() }}]" value="13" {% if sheet.getAttribute(attribute.getId()).getValue() == 13 %} checked="checked" {% endif %}>k12+1
                                        <input type="radio" name="attributes[{{ attribute.getId() }}]" value="14" {% if sheet.getAttribute(attribute.getId()).getValue() == 14 %} checked="checked" {% endif %}>k12+2
                                        <input type="radio" name="attributes[{{ attribute.getId() }}]" value="15" {% if sheet.getAttribute(attribute.getId()).getValue() == 15 %} checked="checked" {% endif %} >k12+3
                                    </span></b><br />

                {% for skill in skills %}
				{% if attribute.getId() == skill.getAttribute().getId() %}
                                <i><span title="{{skill.getDescription()}}">{{skill.getName()}}</span>
                                    <input type="radio" name="skills[{{ skill.getId() }}]" value="0" checked="checked" {% if sheet.getSkill(skill.getId()).getValue() == 0 %} checked="checked" {% endif %} >niewyszkolony
                                    <input type="radio" name="skills[{{ skill.getId() }}]" value="4" {% if sheet.getSkill(skill.getId()).getValue() == 4 %} checked="checked" {% endif %} >k4
                                    <input type="radio" name="skills[{{ skill.getId() }}]" value="6" {% if sheet.getSkill(skill.getId()).getValue() == 6 %} checked="checked" {% endif %} >k6
                                    <input type="radio" name="skills[{{ skill.getId() }}]" value="8" {% if sheet.getSkill(skill.getId()).getValue() == 8 %} checked="checked" {% endif %} >k8
                                    <input type="radio" name="skills[{{ skill.getId() }}]" value="10" {% if sheet.getSkill(skill.getId()).getValue() == 10 %} checked="checked" {% endif %} >k10
                                    <input type="radio" name="skills[{{ skill.getId() }}]" value="12" {% if sheet.getSkill(skill.getId()).getValue() == 12 %} checked="checked" {% endif %} >k12
                                    <input type="radio" name="skills[{{ skill.getId() }}]" value="13" {% if sheet.getSkill(skill.getId()).getValue() == 13 %} checked="checked" {% endif %} >k12+1
                                    <input type="radio" name="skills[{{ skill.getId() }}]" value="14" {% if sheet.getSkill(skill.getId()).getValue() == 14 %} checked="checked" {% endif %} >k12+2
                                    <input type="radio" name="skills[{{ skill.getId() }}]" value="15" {% if sheet.getSkill(skill.getId()).getValue() == 15 %} checked="checked" {% endif %} >k12+3
                                </i><br />
				{% endif %}
				{%endfor%}
                                <br /><br />
				{%endfor%}
                            </td>
                        </tr>
                        <tr>
                            <th>Przewagi</th>
                            <td>
			{% for edge in edges %} 
                                    <span title="{{edge.getDescription()}}"><input type="checkbox" name="edges[]" value="{{ edge.getId() }}"{% if sheet.getEdge(edge.getId()) %} checked="checked" {% endif %} /><b>{{ edge.getName() }}</span></b>  <br>     
			{% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Zawady</th>
                                    <td>
			{% for hindrance in hindrances %}     
                                            <span title="{{hindrance.getDescription()}}"><input type="checkbox" name="hindrances[]" value="{{ hindrance.getId() }}"{% if sheet.getHindrance(hindrance.getId()) %} checked="checked" {% endif %} /><b>{{ hindrance.getName() }}</span></b>  <br>     
			{% endfor %}  
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Moce</th>
                                            <td>
			{% for power in powers %}     
                                                    <input type="checkbox" name="powers[]" value="{{ power.getId() }}" {% if sheet.getPower(power.getId()) %} checked="checked" {% endif %} /><b>{{ power.getName() }}</b>  <br>     
			{% endfor %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><input type="submit" value="Zapisz" /></td>
                                                </tr>
                                            </table>
                                        </form>
{% endblock %}