{% extends "main.html.twig" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="resource/character_sheet/style.css" />
{% endblock %}


{% block body %}
<form method="post" action="/csm/sheet/form">
	<input type="hidden" name="id" value="{{ sheet.getId() }}" />
	<div id="card">
		<div id="name">
			<input type="text" name="name" value="{{ sheet.getName() }}" />
		</div>
		<div id="user">
				<select name="user">
					{% for user in users %}
					<option value="{{ user.getId() }}" {% if sheet.getUser().getId() == user.getId() %} selected="selected" {% endif %}>{{ user.getName() }}</option> 
					{% endfor %}
				</select>
		</div>
		<div id="race">
				<select name="race">
					{% for race in races %}
					<option value="{{ race.getId() }}" {% if sheet.getRace().getId() == race.getId() %} selected="selected" {% endif %}>{{ race.getName() }}</option> 
					{% endfor %}
				</select>
		</div>
		<div id="appearance">
			<input type="text" name="appearance" value="{{ sheet.getAppearance() }}"/>
		</div>
		<div id="archetype">
			<input type="text" name="archetype" value="{{ sheet.getArchetype() }}"/>
		</div>
		<div id="description">
			<input type="text" name="description" value="{{ sheet.getDescription() }}"/>
		</div>
		<div id="exp">
			<input type="text" name="exp" maxlength="15px" style="width: 45px" value="{{ sheet.getExp() }}"/>
		</div>
		<div id="attributes">
				{% for attribute in attributes %}
				<b>{{ attribute.getName() }}
					<input type="radio" name="attribute[{{ attribute.getId() }}]" value="4" checked="checked" {% if sheet.getAttribute(attribute.getId()).getValue() == 4 %} checked="checked" {% endif %}> <img src="/csm/resource/character_sheet/dice/a4.png" />
					<input type="radio" name="attribute[{{ attribute.getId() }}]" value="6" {% if sheet.getAttribute(attribute.getId()).getValue() == 6 %} checked="checked" {% endif %} > <img src="/csm/resource/character_sheet/dice/a6.png" />
					<input type="radio" name="attribute[{{ attribute.getId() }}]" value="8" {% if sheet.getAttribute(attribute.getId()).getValue() == 8 %} checked="checked" {% endif %}> <img src="/csm/resource/character_sheet/dice/a8.png" />
					<input type="radio" name="attribute[{{ attribute.getId() }}]" value="10" {% if sheet.getAttribute(attribute.getId()).getValue() == 10 %} checked="checked" {% endif %}> <img src="/csm/resource/character_sheet/dice/a10.png" />
					<input type="radio" name="attribute[{{ attribute.getId() }}]" value="12" {% if sheet.getAttribute(attribute.getId()).getValue() == 12 %} checked="checked" {% endif %}> <img src="/csm/resource/character_sheet/dice/a12.png" />
					<input type="radio" name="attribute[{{ attribute.getId() }}]" value="13" {% if sheet.getAttribute(attribute.getId()).getValue() == 13 %} checked="checked" {% endif %}> <img src="/csm/resource/character_sheet/dice/a12.png" />+1
					<input type="radio" name="attribute[{{ attribute.getId() }}]" value="14" {% if sheet.getAttribute(attribute.getId()).getValue() == 14 %} checked="checked" {% endif %}> <img src="/csm/resource/character_sheet/dice/a12.png" />+2
					<input type="radio" name="attribute[{{ attribute.getId() }}]" value="15" {% if sheet.getAttribute(attribute.getId()).getValue() == 15 %} checked="checked" {% endif %} > <img src="/csm/resource/character_sheet/dice/a12.png" />+3
				</b><br />
				<div id="skills">
                {% for skill in skills %}
				{% if attribute.getId() == skill.getAttribute().getId() %}
				<i>{{skill.getName()}}
					<input type="radio" name="skills[{{ skill.getId() }}]" value="0" checked="checked" {% if sheet.getSkill(skill.getId()).getValue() == 0 %} checked="checked" {% endif %} ><img src="/csm/resource/character_sheet/dice/s4.png" />n
					<input type="radio" name="skills[{{ skill.getId() }}]" value="4" {% if sheet.getSkill(skill.getId()).getValue() == 4 %} checked="checked" {% endif %} > <img src="/csm/resource/character_sheet/dice/s4.png" />
					<input type="radio" name="skills[{{ skill.getId() }}]" value="6" {% if sheet.getSkill(skill.getId()).getValue() == 6 %} checked="checked" {% endif %} > <img src="/csm/resource/character_sheet/dice/s6.png" />
					<input type="radio" name="skills[{{ skill.getId() }}]" value="8" {% if sheet.getSkill(skill.getId()).getValue() == 8 %} checked="checked" {% endif %} > <img src="/csm/resource/character_sheet/dice/s8.png" />
					<input type="radio" name="skills[{{ skill.getId() }}]" value="10" {% if sheet.getSkill(skill.getId()).getValue() == 10 %} checked="checked" {% endif %} > <img src="/csm/resource/character_sheet/dice/s10.png" />
					<input type="radio" name="skills[{{ skill.getId() }}]" value="12" {% if sheet.getSkill(skill.getId()).getValue() == 12 %} checked="checked" {% endif %} > <img src="/csm/resource/character_sheet/dice/s12.png" />
					<input type="radio" name="skills[{{ skill.getId() }}]" value="13" {% if sheet.getSkill(skill.getId()).getValue() == 13 %} checked="checked" {% endif %} > <img src="/csm/resource/character_sheet/dice/s12.png" />+1
					<input type="radio" name="skills[{{ skill.getId() }}]" value="14" {% if sheet.getSkill(skill.getId()).getValue() == 14 %} checked="checked" {% endif %} > <img src="/csm/resource/character_sheet/dice/s12.png" />+2
					<input type="radio" name="skills[{{ skill.getId() }}]" value="15" {% if sheet.getSkill(skill.getId()).getValue() == 15 %} checked="checked" {% endif %} > <img src="/csm/resource/character_sheet/dice/s12.png" />+3
				</i><br />
				{% endif %}
				{%endfor%}
				<br /><br />
				{%endfor%}
		</div>
			     </div>
		<div id="edges">
			{% for edge in edges %} 
				<input type="checkbox" name="edges[]" value="{{ edge.getId() }}"{% if sheet.getEdge(edge.getId()) %} checked="checked" {% endif %} /><b>{{ edge.getName() }}</b>  <br>     
			{% endfor %}
		</div>
		<div id="hindrances">
			{% for hindrance in hindrances %}     
				<input type="checkbox" name="hindrances[]" value="{{ hindrance.getId() }}"{% if sheet.getHindrance(hindrance.getId()) %} checked="checked" {% endif %} /><b>{{ hindrance.getName() }}</b>  <br>     
			{% endfor %}  
		</div>
		<div id="powers">
			{% for power in powers %}     
				<input type="checkbox" name="powers[]" value="{{ power.getId() }}" {% if sheet.getPower(power.getId()) %} checked="checked" {% endif %} /><b>{{ power.getName() }}</b>  <br>     
			{% endfor %}
		</div>
		</div>	
			<table>
				<tr>
			<td colspan="2"><input type="submit" value="Zapisz" /></td>
				</tr>
			</table>
</form>
{% endblock %}
