{% extends "main.html.twig" %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/csm/resource/css/gridtable.css" />
{% endblock %}

{% block body %}
<table class="gridtable">
	<tr>
		<th>Gracz</th>
		<th>Imię postaci</th>
		<th>Archetyp</th>
		<th>Exp</th>
		<th colspan="3"><a href="/csm/sheet/show/"><button>Nowa Karta</button></a></th>
	</tr>
{% for sheet in sheets %}
	<tr>
		<td>{{ sheet.getUser().getName() }}</td>
		<td>{{ sheet.getName() }}</td>
		<td>{{ sheet.getArchetype() }}</td>
		<td>{{ sheet.getExp() }}</td>
		<td><a href="/csm/sheet/show/{{ sheet.getId() }}"><button>Edytuj</button></a></td>
		<td><a href="/csm/sheet/print/{{ sheet.getId() }}"><button>Drukuj</button></a></td>
		<td><a href="/csm/sheet/remove/{{ sheet.getId() }}"><button>Usuń</button></a></td>
	</tr>
{% endfor %}
</table>
{% endblock %}